body {
    font-family: 'Roboto', sans-serif; 
    margin: 0;
    padding: 0;
    background-color: #1c1c1c; 
    color: #333;
    transition: background-color 0.5s; /* Arka plan rengi geçiş animasyonu */
}

header {
    background-color: #333; 
    color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.5s; /* Başlık arka planı geçiş animasyonu */
}

.logo img {
    max-height: 70px; 
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: #ffffff; 
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s; /* Renk geçiş animasyonu */
    padding: 5px 10px; 
    border-radius: 5px; 
}

nav ul li a:hover {
    background-color: #555; 
    color: #ffffff; 
}

main {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333; 
    color: #ffffff;
    position: fixed; /* Footer'ı sabit yap */
    bottom: 0; /* Sayfanın en altında sabitle */
    left: 0;
    right: 0;
    opacity: 0; /* Varsayılan olarak görünmez */
    transition: opacity 0.5s; /* Opasite geçiş efekti */
}

footer.visible {
    opacity: 1; /* Gösterildiğinde görünür */
}

.update-image {
    width: 400px; 
    height: auto; 
    margin-top: 10px; 
    margin-bottom: 10px;
}

/* Footer'ın görünürlüğü için animasyon */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Sayfa kaydırıldığında footer'ı yukarıdan aşağı animasyonla getir */
footer {
    animation: fadeIn 0.5s forwards; /* Animasyon efektini uygula */
}
