body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
    transition: background-color 0.5s;
}

header {
    background-color: #333;
    color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.5s;
}

.logo img {
    max-height: 70px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    padding: 5px 10px;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #555;
    color: #ffffff;
}

main {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #ffffff;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.5s;
}

.awesome-image {
    width: 300px; /* Büyüttük */
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.translate-container {
    position: fixed;
    bottom: 20px;
    left: 20px;
}

.translate-button {
    padding: 10px;
    background-color: #333;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.flag-container {
    display: none;
    margin-top: 10px;
}

.flag-container img {
    margin-right: 10px;
    cursor: pointer;
    border: 1px solid #333;
    border-radius: 5%; /* Oval değil, dikdörtgen yapıyoruz */
    transition: transform 0.2s;
}

.flag-container img:hover {
    transform: scale(1.1);
}
