body {
    font-family: 'Roboto', sans-serif; /* Modern font */
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Daha açık arka plan rengi */
    color: #333;
}

header {
    background-color: #333; /* Koyu arka plan */
    color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-height: 70px; /* Logo yüksekliği */
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: #ffffff; /* Yazı rengi */
    text-decoration: none;
    transition: color 0.3s;
    padding: 5px 10px; /* Buton benzeri görünüm */
    border-radius: 5px; /* Kenar yuvarlama */
}

nav ul li a:hover {
    background-color: #555; /* Hover efekti */
    color: #ffffff; /* Hoverda yazı rengi */
}

main {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333; /* Alt bilgi için koyu arka plan */
    color: #ffffff;
    position: relative;
    opacity: 0; /* Varsayılan olarak görünmez */
    transition: opacity 0.5s; /* Opasite geçiş efekti */
}

footer.visible {
    opacity: 1; /* Gösterildiğinde görünür */
}

.update-image {
    width: 400px; /* Genişlik ayarı */
    height: auto; /* Yüksekliği otomatik ayarla */
    margin-top: 10px; 
    margin-bottom: 10px;
}

/* Alt bilgiyi yalnızca sayfa aşağı kaydırıldığında göster */
body.scrolled footer {
    opacity: 1;
}
